html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.p {
  width: auto;
  height: auto;
  text-align: center;
}

.container {
  width: 100vw;
  height: 220vh;
  background-color: rgba(red, green, blue, alpha);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
}

.doctor-container {
  width: 95%;
  height: 60%;
  margin-bottom: auto;
}

.text-block {
  border: 1px solid black;
  top: 100%;
  height: 100%;
  width: 100%;
  position:relative;
  background-color: rgba(red, green, blue, alpha);
  color: rgba(red, green, blue, alpha);
  font-size: 18px;
  display:inline-table;
}

.left {
  position: relative;
  top: 8px;
  left: -120px;
  font-size: 18px;
}

.leftdetail {
  position: relative;
  top: 20px;
  left: 5cm;
  font-size: 18px;
  display: inline-block;
}

.leftabout {
  position: relative;
  width: 18cm;
}

.bottomright {
  position: relative;
  top: 50px;
  left:20cm;
  font-size: 18px;
  display: inline-block;
}

.row-15 {
  display: flex;
  width: 100%;
  height: 15%;
}

.col-20 {
  width:100%;
}